<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/brands.min.css"
        integrity="sha512-G/T7HQJXSeNV7mKMXeJKlYNJ0jrs8RsWzYG7rVACye+qrcUhEAYKYzaa+VFy6eFzM2+/JT1Q+eqBbZFSHmJQew=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/brands.min.css"
        integrity="sha512-G/T7HQJXSeNV7mKMXeJKlYNJ0jrs8RsWzYG7rVACye+qrcUhEAYKYzaa+VFy6eFzM2+/JT1Q+eqBbZFSHmJQew=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/fontawesome.min.css"
        integrity="sha512-giQeaPns4lQTBMRpOOHsYnGw1tGVzbAIHUyHRgn7+6FmiEgGGjaG0T2LZJmAPMzRCl+Cug0ItQ2xDZpTmEc+CQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">



    <link rel="stylesheet" href="./node_modules/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Booking</title>
</head>

<body>
    <div class="loader">
        <span>L</span><span>O</span><span>A</span><span>D</span><span>I</span><span>N</span><span>G</span>
    </div>
    <header>
        <nav>
            <div class="logo">Booking <span>Travel</span></div>

            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Bus</a></li>
                <li><a href="#">Hotels</a></li>
                <li><a href="#">Vol</a></li>

            </ul>
            <div class="buttons">
                <button class="btn_login">Login</button>
                <button class="btn_sigin">Sigin</button>
            </div>
        </nav>

    </header>



    <div class="hero">

        <div class="left">

            <div class="center">
                <h1>Lorem ipsum dolor sit amet consectetur.</h1>
                <p>With Booking travel, you can travel around the world at a lower cost. <br> it is a solution that has
                    been designed by Cameroonian developers in order to help the population through the reduction of
                    travel costs whether by bus, plane or train</p>
                <button>Booking Now !</button>

            </div>
        </div>
        <div class="right">
            <div class="img">
                <img src="./img/ImgBg.png" alt="">
            </div>

        </div>

        <div class="book_section">
            <div class="inner_book">

                <input type="text" placeholder="arrival">
                <input type="text" placeholder="departure">
                <input type="datetime-local" placeholder="choose room">
                <input type="text" placeholder="state">
                <div class="book-btn">
                    <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                </div>

            </div>
        </div>


    </div>

    <div class="vide"></div>


    <div class="contain_item">
        <div class="item">
            <div class="header">
                <div class="left"><img src="./img/card2.jpg" alt="">
                    <h1>Love travel</h1>
                </div>
                <div class="right"><span>VIP</span></div>
            </div>
            <div class="trajet">
                <span class="heure_depart">4h</span><span class="tiret"></span><span class=" heure_arrive ">4h</span>
                <span class="tiret"></span> <span class="duree">8h</span>
                <button class="prix_trajet"> 750 Fcfa</button>
            </div>
        </div>
        <div class="item">
            <div class="header">
                <div class="left"><img src="#" alt="">
                    <h1>Love travel</h1>
                </div>
                <div class="right"><span>VIP</span></div>
            </div>
            <div class="trajet">
                <span class="heure_depart">4h</span><span class="tiret"></span><span class=" heure_arrive ">4h</span>
                <span class="tiret"></span> <span class="duree">8h</span>
                <button class="prix_trajet"> 750 Fcfa</button>
            </div>


            <span class="more">Voir +</span>
        </div>
        <div class="item">
            <div class="header">
                <div class="left"><img src="#" alt="">
                    <h1>Love travel</h1>
                </div>
                <div class="right"><span>VIP</span></div>
            </div>
            <div class="trajet">
                <span class="heure_depart">4h</span><span class="tiret"></span><span class=" heure_arrive ">4h</span>
                <span class="tiret"></span> <span class="duree">8h</span>
                <button class="prix_trajet"> 750 Fcfa</button>
            </div>
            <span class="more">Voir +</span>

        </div>
        <div class="item">
            <div class="header">
                <div class="left"><img src="#" alt="">
                    <h1>Love travel</h1>
                </div>
                <div class="right"><span>VIP</span></div>
            </div>
            <div class="trajet">
                <span class="heure_depart">4h</span><span class="tiret"></span><span class=" heure_arrive ">4h</span>
                <span class="tiret"></span> <span class="duree">8h</span>
                <button class="prix_trajet"> 750 Fcfa</button>
            </div>
            <span class="more">Voir +</span>

        </div>
        <div class="item">
            <div class="header">
                <div class="left"><img src="#" alt="">
                    <h1>Love travel</h1>
                </div>
                <div class="right"><span>VIP</span></div>
            </div>
            <div class="trajet">
                <span class="heure_depart">4h</span><span class="tiret"></span><span class=" heure_arrive ">4h</span>
                <span class="tiret"></span> <span class="duree">8h</span>
                <button class="prix_trajet"> 750 Fcfa</button>
            </div>
            <span class="more">Voir +</span>

        </div>

    </div>


    <div class="popular_destination">

        <div class="header">
            <span>
                My destination
            </span>
            <h1>Our favorite destinations</h1>
        </div>

        <div class="slider_container swiper">

            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <img src="./img/card2.jpg" alt="">
                        </div>

                        <div class="card-content">

                            <span> <i class="fa-solid fa-location-dot"></i> Logpom de la cite</span>
                            <h2>cite de paradi</h2>
                            <div class="note">
                                <p class="secondNote"><span><i class="fa-solid fa-star"></i>4.5 note</span></p>
                                <p><span>$32 days</span></p>
                            </div>

                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">

                            <img src="./img/card1.jpg" alt="">


                        </div>

                        <div class="card-content">


                            <span> <i class="fa-solid fa-location-dot"></i> Logpom de la cite</span>
                            <h2>cite de paradi</h2>
                            <div class="note">
                                <p class="secondNote"><span><i class="fa-solid fa-star"></i>4.5 note</span></p>
                                <p><span>$32 days</span></p>
                            </div>

                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <img src="./img/card3.jpg" alt="">
                        </div>

                        <div class="card-content">


                            <span> <i class="fa-solid fa-location-dot"></i> Logpom de la cite</span>
                            <h2>cite de paradi</h2>
                            <div class="note">
                                <p class="secondNote"><span><i class="fa-solid fa-star"></i>4.5 note</span></p>
                                <p><span>$32 days</span></p>
                            </div>

                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <img src="./img/card4.jpg" alt="">
                        </div>

                        <div class="card-content">


                            <span> <i class="fa-solid fa-location-dot"></i> Logpom de la cite</span>
                            <h2>cite de paradi</h2>
                            <div class="note">
                                <p class="secondNote"><span><i class="fa-solid fa-star"></i>4.5 note</span></p>
                                <p><span>$32 days</span></p>
                            </div>

                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <img src="./img/card2.jpg" alt="">
                        </div>

                        <div class="card-content">


                            <span> <i class="fa-solid fa-location-dot"></i> Logpom de la cite</span>
                            <h2>cite de paradi</h2>
                            <div class="note">
                                <p class="secondNote"><span><i class="fa-solid fa-star"></i>4.5 note</span></p>
                                <p><span>$32 days</span></p>
                            </div>

                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <img src="./img/card4.jpg" alt="">
                        </div>

                        <div class="card-content">



                            <span> <i class="fa-solid fa-location-dot"></i> Logpom de la cite</span>
                            <h2>cite de paradi</h2>
                            <div class="note">
                                <p class="secondNote"><span><i class="fa-solid fa-star"></i>4.5 note</span></p>
                                <p><span>$32 days</span></p>
                            </div>

                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">


                            <img src="./img/card1.jpg" alt="">


                        </div>

                        <div class="card-content">

                            <span> <i class="fa-solid fa-location-dot"></i> Logpom de la cite</span>
                            <h2>cite de paradi</h2>
                            <div class="note">
                                <p class="secondNote"><span><i class="fa-solid fa-star"></i>4.5 note</span></p>
                                <p><span>$32 days</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div> -->

        </div>


    </div>

    <div class="service">
        <div class="left">

            <div class="image">
                <img src="./img/bgService.jpg" alt="">
            </div>


        </div>
        <div class="right">

            <div class="center">

                <div class="header">
                    <span>Best services</span>
                    <h1>Feel the best experience with our rental deals</h1>
                </div>
                <div class="content">
                    <div class="card">
                        <div class="image">
                            <i class="fa-solid fa-window-restore"></i>
                        </div>
                        <div class="text">
                            <h1>Deals for every budget</h1>
                            <p>incredible prices on hate is . flights cars. <br> and package worlwide</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <i class="fa-solid fa-layer-group"></i>
                        </div>
                        <div class="text">
                            <h1>Best price guaranteed</h1>
                            <p>Find a lower price ? we'll refund you 100% of the difference</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <i class="fa-solid fa-folder-minus"></i>
                        </div>
                        <div class="text">
                            <h1>Support 24/7</h1>
                            <p>Find a lower price we'll refund you 100% of the difference</p>
                        </div>
                    </div>

                </div>



            </div>
        </div>
    </div>

    <div class="destination_inspiration">
        <h1>Be Inspired For The Next Vacation</h1>
        <div class="contain_inspiration">
            <div class=" card card1">
                <div class="img"><img src="./img/card1.jpg" alt=""></div>
                <div class="card_text">

                    <p>I am here</p>
                </div>
            </div>
            <div class=" card card2">
                <div class="img"><img src="./img/card2.jpg" alt=""></div>
                <div class="card_text">

                    <p>I am here</p>
                </div>
            </div>
            <div class=" card card3">
                <div class="img"><img src="./img/card3.jpg" alt=""></div>
                <div class="card_text">

                    <p>I am here</p>
                </div>
            </div>
            <div class=" card card4">
                <div class="img"><img src="./img/card4.jpg" alt=""></div>
                <div class="card_text">

                    <p>I am here</p>
                </div>
            </div>
            <div class=" card card5">
                <div class="img"><img src="img/card3.jpg" alt=""></div>
                <div class="card_text">

                    <p>I am here</p>
                </div>
            </div>
        </div>


    </div>



    <div class="footer">
        <div class="logo">

            <h1>Booking Travel</h1>
        </div>
        <ul>
            <li><a href="#"> Bookin</a></li>
            <li><a href="#"> Sevice</a></li>
            <li><a href="#"> About</a></li>
            <li><a href="#"> Destination</a></li>
        </ul>

        <div class="social"><span><i class="fa-brands fa-facebook"></i></span><i
                class="fa-brands fa-twitter"></i><span><i class="fa-brands fa-square-instagram"></i></span><i
                class="fa-brands fa-youtube"></i></div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


    <script src="./node_modules/swiper/swiper-bundle.min.js"></script>

    <script src="./js/app.js"></script>
    <script src="./js/swiper.js"></script>
    <script src="./js/loader.js"></script>
</body>

</html>